# Libraries

In [26]:
import pandas as pd
import openai
from openai import OpenAI
import tiktoken
API_KEY = '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'
encoding = tiktoken.encoding_for_model("gpt-3.5-turbo")

# Load Data

In [10]:
# fields = pd.read_csv('Data/fields.csv')
# fields = fields.rename(columns={'FieldCode': 'FieldName', 'FieldName': 'FieldCode'}) # This line can be removed once the SQL script bug is fixed
# fields = fields[fields['Formula'].isnull() & fields['IsInSTATS'] == 1].drop(columns=['Formula', 'IsInSTATS']).sort_values(by=['UnitCode', 'FieldCode']).reset_index(drop=True)
# display(fields)

comments = pd.read_csv('Data/comments.csv')
comments['Date'] = pd.to_datetime(comments['Date'])
comments = comments.sort_values(by=['Date', 'UnitCode'], ascending=[True, True]).reset_index(drop=True)
comments['Year'] = comments['Date'].dt.year
comments['MonthName'] = comments['Date'].dt.month_name()
comments['MonthNumber'] = comments['Date'].dt.month

display(comments)

,UnitCode,ParkName,Date,Comments,Year,MonthName,MonthNumber
0,WORI,Women's Rights NHP,1993-01-01,Closed New Year's Day Two days at zero,1993,January,1
1,WORI,Women's Rights NHP,1993-02-01,Closed 2/13 at 4p.m. due to Blizzard Two days ...,1993,February,2
2,WORI,Women's Rights NHP,1993-03-01,Park Closed from 12:00 on 3/13 to 3/15 due to ...,1993,March,3
3,WORI,Women's Rights NHP,1993-07-01,Grand Opening of new Wesleyan Chapel Block hel...,1993,July,7
4,WORI,Women's Rights NHP,1993-08-01,Grand Opening of new Wesleyan Chapel Block hel...,1993,August,8
...,...,...,...,...,...,...,...
34857,WORI,Women's Rights NHP,2024-03-01,Visitor Center and Chapel are closed on Sunday...,2024,March,3
34858,WUPA,Wupatki NM,2024-03-01,3/15/24 - Closed due to inclement weather. 3/3...,2024,March,3
34859,ZION,Zion NP,2024-03-01,South Campground closed for construction until...,2024,March,3
34860,CHRI,Christiansted NHS,2024-04-01,on site education 1. 4/5 PR JROTC Cadets CHRI ...,2024,April,4
34861,SARI,Salt River Bay NHP & Ecological Pres,2024-04-01,1. 4/17 Alfredo Andrews OOFK SARI - 43 student...,2024,April,4

# Helper Functions

In [28]:
def getComments(unitCode: str = None, year: int = None):
    if unitCode is None or year is None:
        raise ValueError('Both unitCode and year must be provided')
    return comments[(comments['UnitCode'] == unitCode) & (comments['Year'] == year)]
def formatComments(unitCode: str = None, year: int = None):
    data = getComments(unitCode, year)
    if data.empty:
        return 'No comments found'
    formatted = ''
    for month in data['MonthName']:
        formatted += f"{month}:\n"
        formatted += data[data['MonthName'] == month]['Comments'].values[0] + '\n\n'
    formatted = formatted[:-2] # Remove the last two newlines
    return formatted
def createPrompt(unitCode: str = None, year: int = None):
    comments = formatComments(unitCode, year)
    return f"Comments:\n{comments}\nOBJECTIVE: Review the list of comments that National Park data collectors left to describe the visitation at their park for each given month. Identify any months where specific locations were reported as closed to the public. If no closures are mentioned, please list 'No Closures'. Ignore places where the average or estimate is used. Do not include closures that were less than a few days or temporary closures due to weather or holidays. If you are unsure, default to no closures.\n\nINSTRUCTIONS: If a location is mentioned as closed in any month, please list it in the format:\nClosures:\n<Location>: <Month1>, <Month2>, ... <MonthN>.\n\n"
def countTokens(prompt: str):
    return len(encoding.encode(prompt))


openai_prompt = "OBJECTIVE: Review the list of comments that National Park data collectors left to describe the visitation at their park for each given month. Identify any months where specific locations were reported as closed to the public. If no closures are mentioned, please list 'No Closures'. Ignore places where the average or estimate is used. Do not include closures that were less than a few days or temporary closures due to weather or holidays. If you are unsure, default to no closures.\n\nINSTRUCTIONS: If a location is mentioned as closed in any month, please list it in the format:\nClosures:\n<Location>: <Month1>, <Month2>, ... <MonthN>."
openai_prompt_tokens = countTokens(openai_prompt)
print(openai_prompt_tokens)


print(openai_prompt)
print("-------------------")
print(formatComments('ACAD', 2021))

133
OBJECTIVE: Review the list of comments that National Park data collectors left to describe the visitation at their park for each given month. Identify any months where specific locations were reported as closed to the public. If no closures are mentioned, please list 'No Closures'. Ignore places where the average or estimate is used. Do not include closures that were less than a few days or temporary closures due to weather or holidays. If you are unsure, default to no closures.

INSTRUCTIONS: If a location is mentioned as closed in any month, please list it in the format:
Closures:
<Location>: <Month1>, <Month2>, ... <MonthN>.
-------------------
January:
Schoodic traffic counts based on 5-year average of historic data.

February:
Traffic counts at Schoodic are an estimate based on an average of previous data.

May:
All group sites at Blackwoods, Seawall, and Schoodic closed until further notice.

June:
All group size closed for June.

July:
IRMA visitation calculation not functional (8/9/2021).

# Compile Comments Database For Training

In [42]:
# for each unitCode, year in comments, format the comments, and add the UnitCode, Year, and formatted comments to a list to then be used to make a dataframe
commentsDataBase = []
for unitCode in comments['UnitCode'].unique():
    for year in comments[comments['UnitCode'] == unitCode]['Year'].unique():
        commentsDataBase.append([unitCode, year, formatComments(unitCode, year)])

In [49]:
commentsDataBase = pd.DataFrame(commentsDataBase, columns=['UnitCode', 'Year', 'Comments'])
# add a new column to the comments dataframe that contains word count of the comments
commentsDataBase['WordCount'] = commentsDataBase['Comments'].apply(lambda x: len(x.split()))
commentsDataBase['TokenCount'] = commentsDataBase['Comments'].apply(lambda x: countTokens(x))
commentsDataBase.sort_values(by=['TokenCount'], ascending=[True], inplace=True)
commentsDataBase.reset_index(drop=True, inplace=True)
display(commentsDataBase)

,UnitCode,Year,Comments,WordCount,TokenCount
0,DRTO,2023,June:\n.,2,3
1,EISE,2012,August:\nTest,2,3
2,RABR,2019,January:\nTest,2,3
3,PISP,2004,November:\nExtreme weather,3,4
4,RIGR,2024,February:\nriver low,3,4
...,...,...,...,...,...
6186,DEVA,2021,January:\nTHE PARK IS STILL RECOVERING FROM SE...,2264,3509
6187,DEVA,2022,January:\nTHE PARK IS STILL RECOVERING FROM SE...,2330,3592
6188,DEVA,2020,January:\nTHE PARK IS STILL RECOVERING FROM SE...,2489,3819
6189,SARA,2022,January:\n1. Hikers: Hiking figures based on 5...,2558,4090
6190,DEVA,2018,January:\nTHE PARK IS STILL RECOVERING FROM SE...,3151,4621

In [50]:
# sum token count
print(commentsDataBase['TokenCount'].sum())

1406392

In [55]:
# Filter down data
commentsDataBaseFiltered = commentsDataBase[commentsDataBase['UnitCode'] != 'DEVA'].reset_index(drop=True) # Ridiculously long comments
commentsDataBaseFiltered = commentsDataBaseFiltered[commentsDataBaseFiltered['TokenCount'] < 3000].reset_index(drop=True) # Remove comments that are too long
display(commentsDataBaseFiltered)

,UnitCode,Year,Comments,WordCount,TokenCount
0,DRTO,2023,June:\n.,2,3
1,EISE,2012,August:\nTest,2,3
2,RABR,2019,January:\nTest,2,3
3,PISP,2004,November:\nExtreme weather,3,4
4,RIGR,2024,February:\nriver low,3,4
...,...,...,...,...,...
6164,WHIS,2020,January:\nPeltier Bridge campsites 1-3 are to ...,1855,2404
6165,WORI,2004,January:\n12-Jan: Closed at noon 13-Jan: Close...,1253,2519
6166,GRSM,2023,"January:\nAbrams Creek - Not working, used 202...",1648,2549
6167,WORI,2023,January:\nWomen's Rights National Historical P...,1586,2668
6168,PAGR,2023,January:\nPaterson Museum open weekdays - stil...,1920,2681

In [60]:
# Sample 40 comments from the filtered data
n = 100
commentsSample = commentsDataBaseFiltered.sample(n=n, random_state=42).reset_index(drop=True)
display(commentsSample)
commentTokens = commentsSample['TokenCount'].sum()
print("Total tokens in sample:", commentTokens)
print("Total tokens in sample + prompt:", commentTokens + openai_prompt_tokens*40)
print("Total price:", (commentTokens + openai_prompt_tokens*40) * 0.00000015)

,UnitCode,Year,Comments,WordCount,TokenCount
0,JELA,2018,January:\nAll park sites closed January 1 and ...,671,970
1,GRSM,2008,July:\nFoothills Parkway East closed 1 week du...,12,18
2,MUWO,2024,January:\nMuir Woods closed on Jan 31 due to w...,29,51
3,RABR,2017,January:\nEstimated from past years (psz)\n\nF...,43,62
4,FOBU,2021,February:\nThe visitor center was closed on Su...,84,126
...,...,...,...,...,...
95,SHEN,2021,January:\nUsed number from the cash register f...,958,1227
96,CATO,2023,March:\nPark Central Road closed for winter se...,111,165
97,UPDE,2021,January:\nThe Skinners Falls Bridge still rema...,339,462
98,INDE,2021,January:\nMany park buildings remain closed du...,158,188
99,FLFO,2014,October:\nOctober 2014 count is an estimate du...,72,92

Total tokens in sample: 19958
Total tokens in sample + prompt: 25278
Total price: 0.0037917

# Use GPT-3.5-Turbo to Generate Output

In [21]:
model_id = 'gpt-3.5-turbo'
# client = OpenAI(api_key=API_KEY)

In [22]:
# completion = client.chat.completions.create(
#   model="gpt-3.5-turbo",
#   messages=[
#     {"role": "system", "content": openai_prompt},
#     {"role": "user", "content": formatComments('ACAD', 2021)}
#   ]
# )

# print(completion.choices[0].message)

ChatCompletionMessage(content='Closures:\nAll group sites at Blackwoods, Seawall, and Schoodic: May. \nAll group size: June.', role='assistant', function_call=None, tool_calls=None)

In [24]:
print(completion.choices[0].message.content)

Closures:
All group sites at Blackwoods, Seawall, and Schoodic: May.
All group size: June.